.wrapper{
    position: absolute !important;
    right: 0;
}
.wrapper.active{
    width: 100%;
    transition: all .4s ease;
    .input{
        margin: 0px 4px;
    }
    .text{
        overflow: visible;
        padding: 0px 10px;
        margin-top: 3px;
    }
}